.feynman__title {
    padding-top: 100px;
    line-height: 1.15;
    font-weight: 600;
    font-size: 120px;
    margin: 0 auto;
    text-align: center;
    width: 648px;
    padding-bottom: 70px;
  }