






.link {
  color: #2f80ed;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */










































.footer__column_content_social {
  flex-direction: column;
}





.footer__column-link {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}